@import '@css/variables';

.select {
    position: relative;
    display: inline-flex;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
    border-radius: 100px;
    gap: 1rem;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;

    .toggler {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: $color-primary;
        border-radius: 100px;
        transition: all 0.2s ease-in-out;
    }

    .option {
        padding: 0.3rem 0.6rem;
        border-radius: 100px;
        z-index: 1;
        font-size: 0.8rem;
        transition: all 0.1s ease 0.1s;

        display: flex;
        justify-content: center;
    }

    .selected {
        color: white;
    }
}
