@import '@css/variables';

.name {
  font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.img {
  width: 1.5rem;
}

.country {
  font-size: .8rem;
  background-color: $color-grey-light;
  padding: .3rem;
  border-radius: .5rem;
}