@import '@css/variables';

.label {
  font-size: 0.8rem;
  background-color: lightgrey;
  padding: 0.35rem 0.7rem;
  cursor: pointer;

  background-color: $color-grey-light;
  border-radius: 0.2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.svg {
  width: .8rem;
  height: .8rem;
  transform: rotate(90deg);
}
