@import '@css/variables';

.option {
  width: 13rem;
  font-size: 0.8rem;
  padding: 0.35rem 0.7rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: all .1s ease-in-out;

  &:hover {
    background-color: $color-grey-light;
  }
}
