@import '@css/variables';

.background {
  background-color: $color-primary;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem 0;
  justify-items: center;
}
