.container {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.title {
  background-color: darken(cyan, 10%);
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.main {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid lighten(lightgrey, 10%);
  overflow: hidden;
}
