@import '@css/variables';

.container {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.title {
  background-color: $color-primary-light;
  padding: 1rem;
  color: white;
  font-weight: bold;
}

.main {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid $color-grey-light;
  overflow: hidden;
}
