@import '@css/variables';

.label {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  font-size: .9rem;
  text-decoration: none;
  color: black;

  &:hover {
    background-color: $color-grey-light;
  }
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-grey-light;
  padding: 0.1rem 0.6rem;
  border-radius: 0.3rem;
  font-size: .7rem;
}

.selected {
    background-color: $color-grey-light;
  }
  