$color-primary: rgb(3, 37, 65);
$color-primary-light: rgb(1, 180, 228);

$color-secondary-light: rgb(92,254,207);
$color-secondary: rgb(30,213,169);

$color-grey-light: rgb(227, 227, 227);
$color-grey-dark: rgb(200, 200, 200);


$font-primary: myFont;
