.box {
  position: relative;
}

.svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: white;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: .8rem;
}
