@import '@css/variables';

.titlebox {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.select {
  width: 13rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.2);
  border-radius: 100px;
  gap: 1rem;
  cursor: pointer;
}

.toggler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: calc(50% - .5rem);
  background-color: $color-primary;
  border-radius: 100px;

  transition: all .2s ease-in-out;
}

.selected {
  color: white;
}

.option {
  width: 50%;
  text-align: center;
  padding: 0.3rem 0.6rem;
  border-radius: 100px;
  z-index: 1;
  font-size: .9rem;
  transition: all .1s ease .1s;
}

.main {
  position: relative;
  display: flex;
  gap: 1.5rem;
  overflow-x: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 8%;
    height: 100%;
    background-image: linear-gradient(to right, transparent, transparent 50%, white 100%);
    z-index: 100;
  }
}


