.title {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.link {
    color: white;
    text-decoration: none;
}

.content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem 0;
    justify-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.background {
    background-color: darken(darkblue, $amount: 15%);
  }
  